@using MiniProject.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MiniProject.Models.CharactersCreateVM

@{
    ViewBag.Title = "Create Character";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Create</title>
</head>
<body>
    <h2></h2>
    <form asp-action="Create" asp-controller="Characters">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Backstory"></label>
        <input asp-for="Backstory" />
        <span asp-validation-for="Backstory"></span>

        <label asp-for="SpecialTrait"></label>
        <input asp-for="SpecialTrait" />
        <span asp-validation-for="SpecialTrait"></span>

        <br/>

        <input type="submit" value="Create" />
    </form>


    @section scripts
        {
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }
</body>
</html>
